/*Phone Display*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
    html{
        background-color: tan;
    }
}

/*Tablet Display */
@media only screen and (min-width: 481px) and (max-width: 1024px) {
    html{
        background-color: lightgrey;
    }
}

/*Laptop Display*/
@media only screen and (min-width: 1025px) {
    html{
        background-color: lightsteelblue;
    }
}